body {
    background-color: rgb(0 , 0, 0);
    background-image: url(harry.jpg);
    background-repeat:no-repeat;
    background-size: 40%;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-size: 54px;
    text-align: center;
    margin-left: -8px ;
    margin-right: -8px;
    margin-top: -15px;
    background:  rgb(41, 127, 184);
    padding: 19px;
    height: 45px;    
}

ol {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -40px;
    background: rgb(41, 127, 184) ;
    display: flex;
    justify-content: space-around;
    padding: 19px;
    height: 45px;
  }




ol li {
    list-style: none;
  }

  ol li a {
    font-size: 34px;
    text-decoration: none;
    background: rgb(56,100,145);
    opacity: 0.4;
    padding : 10px 400px;
    color: white;
  }

  ol li a:hover {
    background: black;
  }

 h2  {
    margin-left: -4px;
    margin-right: -4px;
    margin-top: 30px;
    padding: 19px;
    background: rgb(26, 76, 109) ;
    color:white;
    text-align: center;
    font-size: 34px;
  }

p {
    text-align: justify;
    color:black;

}

.articleSection1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgba(26, 76, 109, 0.4);  
    margin-top: -33px;
    margin-left: -8px;
    margin-right: -8px; 
}

.art11,
.art13,
.art15 {
    background-color: rgba(80, 130, 200, 0.4);
    margin :5px;
    height: 500px;
    

}

.art12,
.art14,
.art16 {
    background-color: rgba(212, 212, 212, 0.4);
    text-align: center;
    margin: 5px;
}

.articleSection1 h3 {
    text-align: center;
    padding :10px
} 

.articleSection1 p {
    text-align: justify;
    padding: 20px;
}


.section2 {
    background-color:  rgba(26, 76, 109, 0.4);
      display:block;
       justify-content:center;
       margin-top: -28px;
       margin-left: -8px;
       margin-right: -8px;
       
 
 }
 .articleSousSection1 {
    background-color:rgba(80, 130, 200, 0.4);   
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 25px;
    padding-right: 25px;
      color:black;
      text-align: justify;
       margin-top:20px;
       margin-left: 5px;
       margin-right: 5px;
       background-image: none;
 }


.harry {
    position: relative; top: 20px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: -15px;
   }


   .articleSousSection2 {
    background-color:rgba(212, 212, 212, 0.7);
    
    padding-top: 100px;
    padding-bottom:100px;
    padding-left: 25px;
    padding-right: 25px;
      color:black;
      text-align: justify;
       margin-top:20px;
       margin-left: 5px;
       margin-right: 5px;
       background-image: none;
 }

 h3 {
    text-align: center;
 }

 